.container {
  text-align: center;
  margin-top: 30px;
}
.region {
  background-color: blueviolet;
}
a {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
  color: blueviolet;
}
h1 {
  text-align: center;
}
